alembic @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_alembic_1770806831/work
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.0
APScheduler==3.11.3
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1749017159514/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1762509368570/work
bcrypt @ file:///D:/bld/bld/rattler-build_bcrypt_1762497737/work
beautifulsoup4==4.15.0
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
certifi==2026.7.22
cffi @ file:///D:/bld/cffi_1761202893018/work
charset-normalizer==3.5.1
click @ file:///D:/bld/bld/rattler-build_click_1777219929/work
cloudpickle==3.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
cryptography @ file:///D:/bld/cryptography-split_1781385309722/work
docx==0.2.4
docx2pdf==0.1.8
duckdb==1.5.5
ecdsa==0.19.2
Faker==40.23.0
fastapi==0.137.2
Flask @ file:///C:/Users/task_177209711345265/croot/flask_1772097182852/work
Flask-Migrate @ file:///home/conda/feedstock_root/build_artifacts/flask-migrate_1736546704161/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_flask-sqlalchemy_1733868589/work
greenlet @ file:///D:/bld/bld/rattler-build_greenlet_1777329016/work
h11==0.16.0
idna==3.18
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1773931568/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
llvmlite==0.48.0
lxml==6.1.1
Mako @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_mako_1777410001/work
MarkupSafe @ file:///D:/bld/markupsafe_1772444956616/work
narwhals @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_narwhals_1780672242/work
numba==0.66.0
numpy @ file:///D:/bld/bld/rattler-build_numpy_1779169235/work/dist/numpy-2.4.6-cp311-cp311-win_amd64.whl#sha256=1f5fa3c853dd01b13cacc0fd3cfdc827bb2f4cf73638f3949fcee463a6dc8304
opencv-python==4.13.0.92
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1777103621/work
pandas @ file:///D:/bld/bld/rattler-build_pandas_1778602666/work
passlib==1.7.4
pdf2image==1.17.0
pillow==12.2.0
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1780554762149/work
psycopg2 @ file:///D:/bld/psycopg2-split_1763595846341/work
psycopg2-binary @ file:///home/conda/feedstock_root/build_artifacts/psycopg2-split_1750255432256/work/psycopg2-binary
pyarrow @ file:///D:/bld/apache-arrow_1776927657286/work/python
pyasn1==0.6.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1779293633/work
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyjwt_1779400286/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-docx==1.2.0
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1772388605/work
python-jose==3.5.0
pywin32==312
requests==2.34.2
rsa==4.9.1
scikit-learn @ file:///D:/bld/bld/rattler-build_scikit-learn_1780401098/work/dist/scikit_learn-1.9.0-cp311-cp311-win_amd64.whl#sha256=3d3874bafbadd1ceb03a99ebf7e08960f4324a3abc5af13343543fdb41a58fd5
scipy @ file:///D:/bld/scipy-split_1779874050212/work/dist/scipy-1.17.1-cp311-cp311-win_amd64.whl#sha256=b7303dbff91581447e6473882e935d15f4f6d8c7afaae2f47a2d49e9c3940ea1
shap==0.51.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
slicer==0.0.8
soupsieve==2.9.2
SQLAlchemy @ file:///D:/bld/bld/rattler-build_sqlalchemy_1781547904/work
starlette==1.3.1
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1774492402/work
tqdm==4.68.3
typing-inspection==0.4.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1777068919240/work
tzlocal==5.4.4
urllib3==2.7.0
uvicorn==0.49.0
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_werkzeug_1775160081/work
xgboost==3.2.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_zipp_1776131454/work
